@import "../../../variables";

.main {
  margin: 2rem 3rem;
  padding-top: 4rem;
  font-size: small;
  @media screen and (max-width: 768px) {
    margin: 1rem 2rem;
  }
  .head {
    display: flex;
    align-items: center;
    background-color: #fff;
    .title {
      font-family: $police_titres;
      font-size: 2rem;
    }
  }
  .table_container {
    max-height: 37rem;
    overflow-y: auto;
    thead tr {
      position: sticky;
      top: 0;
      background-color: #f5f5f5;
    }
  }

  .flou {
    filter: blur(7px);
    pointer-events: none;
  }
}
