@import "../../../variables";

.main {
  margin: 7em 3em;
  font-size: small;
}

.title {
  font-family: $police_titres;
  font-size: 3em;
  margin-bottom: 0.3em;
}

.head {
  display: flex;
  align-items: center;
  background-color: #fff;
}
