@use "../../variables" as *;

.main {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  padding-bottom: 14rem;
  min-height: 100vh;
  .title {
    font-family: $police_titres;
    font-size: 2rem;
    margin-top: 3rem;
    text-align: center;
  }
  .infos_box {
    justify-content: center;
    .card {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      margin-top: 1rem;
      .input {
        border: solid 2px #1976d2;
        border-radius: 7px;
        padding-inline: 1em;
        width: 90%;
      }
      .infos_value {
        color: #6c757d;
      }
      .separation_line {
        color: #6c757d;
      }
      .error_box {
        display: flex;
        justify-content: center;
      }
      .btn_box {
        display: flex;
        justify-content: center;
        gap: 1em;
      }
      .btn_valider {
        background: $vert_principal;
        @include hover-btn($vert_principal, 5);
      }
      .photo_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .profile_img {
          border: 1px solid #e1e1e1;
          padding: 4px;
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 100%;
        }
      }
    }
  }
}
