.container {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
  background-color: #e2e8f0;
  // background-color: #F5F5F5;
}

.title {
  font-family: "Dancing Script";
  font-size: 0.8rem;
  margin-top: 6rem;
  margin-left: 2rem;
  text-align: center;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.text-secondary {
  color: #6c757d;
}

.separation_line {
  color: #6c757d;
}

.button {
  background: #f94a56;
  border: none;
}

.photo_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile_img {
  border: 1px solid #e1e1e1;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}
