@import "../../variables";

.main {
  display: flex;
  justify-content: center;
  padding-bottom: 14rem;
  background-color: #e2e8f0;
  height: auto;
  .title {
    font-family: $police_titres;
    font-size: 0.8rem;
    margin-top: 6rem;
    margin-left: 2rem;
    text-align: center;
  }
  .infos_box {
    justify-content: center;
    //border: solid 1px red;
    .card {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      margin-top: 3rem;
      .input {
        background-color: rgb(254, 254, 218);
        border: solid 1px rgb(230, 230, 230);
        width: 90%;
      }
      .infos_edit {
        // border: solid 1px yellow;
        color: #6c757d;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .infos_value {
        color: #6c757d;
      }
      .separation_line {
        color: #6c757d;
      }
      .btn_box {
        display: flex;
        justify-content: center;
        gap: 1em;
      }
      .btn_valider {
        background: $vert_principal;
        @include hover-btn($vert_principal, 5);
      }
      .photo_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .profile_img {
          border: 1px solid #e1e1e1;
          padding: 4px;
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 100%;
        }
      }
    }
  }
}
