.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #edeeee; // Ajout de la couleur de fond
}

.profilBox {
  overflow: auto;
  background-color: #fff;
  margin-top: 4em;
  box-shadow: 0 0 2rem 0.2rem rgba(115, 129, 136, 0.1);
  width: 60%;
  height: 80%;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  .title_box {
    font-family: "Dancing Script";
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .content_box {
    overflow: auto;
    padding: 1em;
    display: flex;
    height: 100%;
    //    border: solid green;
  }
  .infos_box {
    //   border: solid blue;
    width: 60%;
    .infos_row {
      border: solid 1px #cfd8dc;
      border-radius: 1rem;
      height: 8%;
      display: flex;
      margin: 1rem;

      .infos_content {
        //    border: solid 1px blue;
        width: 80%;
        display: flex;
        align-items: center;
        .label {
          font-weight: bold;
          width: 50%;
          margin-left: 1rem;
        }
      }
      .infos_edit {
        //      border: solid 1px yellow;
        width: 20%;
      }
    }
  }

  .photo_box {
    border: solid 1px #cfd8dc;
    border-radius: 1rem;
    width: 20%;
    height: 40%;
    margin-inline: auto;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
    border: solid 1px #edeeee;
  }
}
