@import "../../variables";

.main {
  display: flex;
  justify-content: center;
  padding-bottom: 14rem;
  background-color: #e2e8f0;
  min-height: 100vh;
  // border: solid 3px blue;
  .title {
    font-family: $police_titres;
    font-size: 2rem;
    margin-top: 3rem;
    //margin-left: 2rem;
    text-align: center;
    //  border: solid 3px red;
  }
  .infos_box {
    justify-content: center;
    //border: solid 1px red;
    .card {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      margin-top: 1rem;
      .input {
        border: solid 2px #1976d2;
        border-radius: 7px;
        //   padding-left: 1em;
        padding-inline: 1em;
        width: 90%;
      }
      .infos_edit {
        // border: solid 1px yellow;
        color: #6c757d;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          color: $rouge_principal;
          cursor: pointer;
        }
      }
      .infos_value {
        color: #6c757d;
      }
      .separation_line {
        color: #6c757d;
      }
      .error_box {
        display: flex;
        justify-content: center;
      }
      .btn_box {
        display: flex;
        justify-content: center;
        gap: 1em;
      }
      .btn_valider {
        background: $vert_principal;
        @include hover-btn($vert_principal, 5);
      }
      .photo_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .profile_img {
          border: 1px solid #e1e1e1;
          padding: 4px;
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 100%;
        }
      }
    }
  }
}
