.main {
  margin-top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 5px;
    text-align: left;
  }
}

.title {
  font-family: "Dancing Script";
  font-size: 3em;
  margin-bottom: 0.3em;
  margin-top: 1em;
}
