@use "../../_variables" as *;

.table_container {
  max-height: 40rem;
  overflow-y: auto;
  thead tr {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
  }
  .flou {
    filter: blur(8px);
    pointer-events: none;
  }
  .icone_valider {
    color: green;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .icone_annuler {
    color: red;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.enTete {
  background-color: #f8f9fa;
  font-weight: bold;
}

.icones_box {
  text-align: center;
  width: 50px;
}
