@import "../../variables";

.main {
  // background: $bleu_principal;
  background: linear-gradient($bleu_principal, #5c55d8);
  // background: linear-gradient(135deg, #1b8af1, #b58ded);
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 3em;
  flex-wrap: wrap;
  .titre {
    color: #ffffff;
    font-family: $police_titres;
    font-size: 7rem;
  }
  .login {
    display: inline-block;
    margin-top: 1rem;
    background: #ffffff;
    width: 25em;
    height: 25em;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3em;
    .form {
      margin-top: 2em;
      .form_group {
        margin-bottom: 2em !important;
      }
      .bouton {
        margin-top: 2em;
      }
    }
  }
}
