@use "../../variables" as *;

.main {
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: $bleu_principal;
  opacity: 99%;
  color: white;
  padding: 0.1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.brand {
  font-family: $police_titres;
  color: white;
  font-size: 2.5em;
  margin-right: 2em;
}

.navItemMargin {
  margin-right: 1em;
}

.link {
  color: white;
  &:hover {
    color: $rouge_principal;
    cursor: pointer;
  }
  font-weight: 450;
  padding: 0%;
  .role {
    font-size: 0.7rem;
  }
}

.iconWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 0;

  @media (max-width: 768px) {
    flex-direction: row;
    margin-bottom: 0.5em;
  }

  svg {
    @media (max-width: 768px) {
      margin-right: 1em;
    }
  }
}

.sous_menu {
  color: black;
  font-weight: 400;
}
