.main {
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #121851;
  color: white;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}

.brand {
  font-family: "Dancing Script";
  color: white;
  font-size: 3em;
  margin-right: 2em;
}

.link {
  color: white;
  &:hover {
    color: #f94a56;
    cursor: pointer;
  }
}
