.main {
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #121851;
  color: white;
  padding: 0.3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: "Dancing Script";
  color: white;
  font-size: 3em;
  margin-right: 2em;
}

.link {
  color: white;
  &:hover {
    color: #f94a56;
    cursor: pointer;
  }
  margin-right: 1em;
  font-weight: 100;
  padding: 0%;
}

.sous_menu {
  color: black;
  font-weight: 400;
}
