.main {
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #121851;
  color: white;
  padding: 0.3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: "Dancing Script";
  color: white;
  font-size: 3em;
  margin-right: 2em;
}

.navItemMargin {
  margin-right: 1em;
}

.link {
  color: white;
  &:hover {
    color: #f94a56;
    cursor: pointer;
  }
  font-weight: 100;
  padding: 0%;
}

.iconWithText {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: row;
    margin-bottom: 0.5em;
  }

  svg {
    @media (max-width: 768px) {
      margin-right: 1em;
    }
  }
}

.sous_menu {
  color: black;
  font-weight: 400;
}
