@use "sass:color";

$bleu_principal: #383CA7;
$rouge_principal: #f94a56;
$vert_principal: #00b894;
$police_titres: "Dancing Script";

@mixin hover-btn($color, $pourcentage) {
  background: $color;
  &:hover {
    background: assombrir($color, $pourcentage);
  }
}

@function assombrir($couleur, $pourcentage) {
  @return color.adjust($couleur, $lightness: -$pourcentage * 1%);
}
