@use "./variables" as *;

a {
  text-decoration: inherit;
}
body {
  padding-top: 4.5rem;
}

body.no-padding-top {
  padding-top: 0;
}

.btn {
  background: $rouge_principal;
  border: none;
  min-width: 5em;
  font-weight: 600;
  @include hover-btn($rouge_principal, 15);
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.icone_crayon_edit,
.icone_trash_delete,
.icone_oeil_view {
  color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $rouge_principal;
    cursor: pointer;
  }
}

.btn_valider {
  background: $vert_principal;
  @include hover-btn($vert_principal, 5);
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: 1.5rem;
  font-weight: 500;
  color: #6c757d;
  text-align: center;
}

.page-main {
  padding: 2rem 2rem;
  font-size: small;
  @media screen and (max-width: 768px) {
    padding: 1rem 2rem;
  }
}

.page-head {
  display: flex;
  background-color: #fff;
}

.page-title {
  font-family: $police_titres;
  font-size: 2rem;
}