@use "./variables" as *;

a {
  text-decoration: inherit;
}
// body {
//   padding-top: 4rem;
// }

body.no-padding-top {
  padding-top: 0;
}

.btn {
  background: $rouge_principal;
  border: none;
  min-width: 5em;
  font-weight: 600;
  @include hover-btn($rouge_principal, 15);
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.icone_crayon_edit {
  color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $rouge_principal;
    cursor: pointer;
  }
}

.btn_valider {
  background: $vert_principal;
  @include hover-btn($vert_principal, 5);
}
